@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
body {
  margin: 0;
  font-family: 'IBM Plex Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rootApp {
  background-color: #111111;
  color: #FFFFFF;
  width: 100%;
  min-height: 100vh;
}

.mainApp {
  width: 100%;
  min-height: 50vh;
}

.infoBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 24px;
}

.caseStats {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media only screen and (max-width: 800px) {
}